body {
    margin: 0;
    display: grid;
    grid-template-areas:
        "header header"
        "menu main"
        "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 60px;
    height: 100vh;
}

header {
    grid-area: header;
    background: #333;
    color: white;
}

aside {
    grid-area: menu;
    background: #555;
    color: white;
}

main {
    grid-area: main;
    background: #eee;
}

footer {
    grid-area: footer;
    background: #333;
    color: white;
}